body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.background-img-parallax {
  /* Full height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img1 {
  /* The image used */
  background-image: url('./images/img1.jpg');
  object-fit: cover;
}
.img2 {
  /* The image used */
  background-image: url('./images/img2.jpg');
  object-fit: cover;
}

.detail-row {
  min-height: 60vh;
}

.texture-2 {
  background-image: url('./images/texture_2.jpeg');
  background-repeat: repeat;
}
.form-control {
  font-size: 1.2em;
}
.form-group label {
  width: 100%;
}
.services-img {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}
.final-img-paralax {
  background-image: url('./images/img3.jpg'), url('./images/img4.jpg'),
    url('./images/img5.jpg');
  background-position: left, center, right;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 33.33vw, 33.33vw, 33.33vw;
  object-fit: cover;
}
.final-detail-col {
  background-color: rgba(34, 34, 34, 0.5);
  color: #ffffff;
  height: 10em;
  width: 100%;
  font-family: 'Srisakdi';
  font-size: 5em;
}
.items-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-col {
  background-color: #222222;
}
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .background-img-parallax {
    background-attachment: scroll;
  }
}
@media only screen and (max-width: 1400px) {
  .final-detail-col {
    height: 9em;
  }
}
@media only screen and (max-width: 1200px) {
  .final-detail-col {
    height: 5em;
  }
}
@media only screen and (max-width: 768px) {
  .services-img {
    margin-top: 2em;
    width: 70%;
    height: 100%;
    object-fit: cover;
  }
  .final-detail-col {
    height: 4em;
    font-size: 2em;
  }
}
@media only screen and (max-width: 600px) {
  .final-detail-col {
    height: 3em;
  }
}
@media only screen and (max-width: 500px) {
  .final-detail-col {
    height: 3em;
  }
}
